<table>
    <thead>
        <tr>
            <th>Journalists</th>
            <th>NPs</th>
        </tr>
    </thead>
    <tbody>
        {% for journalist in journalists %}
        <tr>
            <td> <a href="{{ path('app_journalist_show', { 'id': journalist.id }) }}">{{ journalist.name }}</a></td>
            <td>
                {% for np in journalist.allNewspapers %}
                    {% include 'newspaper/_tag.html.twig' with { 'newspaper': np } %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>