<table>
	<thead>
		<tr>
			<th>Journalists</th>
			<th>NPs</th>
		</tr>
	</thead>
	<tbody>
		{% for journalist in journalists %}
			<tr>
				<td>
					{% include 'journalist/_single.html.twig' with { 'journalist': journalist } %}
				</td>
				<td>
					{% set grouped_newspapers = journalist.allNewspapers|group_by('name') %}
					{% for newspaper, duplicates in grouped_newspapers %}
						{% include 'newspaper/_tag.html.twig' with { 'newspaper': duplicates[0] } %}
						{% if duplicates|length > 1 %}
							(+
							{{ duplicates|length - 1 }})
						{% endif %}
					{% endfor %}
				</td>
			</tr>
		</td>
	</tbody>
</tr>{% endfor %}</tbody></table>
