{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>🔒 Login Link sent</h1>
<p>
    An email has been sent to <span class="font-weight-bold">{{ email }}</span> with a link to login.
{% endblock %}